*.html linguist-vendored
templates/* linguist-vendored
**/templates/* linguist-vendored
**/templates/**/*.html linguist-vendored

*.css linguist-vendored
*.js linguist-vendored

Front/* linguist-vendored