# Global html/js/css
*.html linguist-vendored
*.htm linguist-vendored
*.css linguist-vendored
*.js linguist-vendored

# Any templates folder in any depth
**/templates/** linguist-vendored

# Force-mark Front as vendored
Front/** linguist-vendored
*.html linguist-detectable=false